@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@400;500;700;800&family=Space+Grotesk:wght@400;500;600&display=swap');

//colors
$bcColor: #21092F;
$bcWhite: #F2F2F2;
$White: #ffffff;
$dark: #21092F;
$red: #FF5050;

//mixins
@mixin flexProperty ($horizontal,$vertical,$wrap, $direction) {
    justify-content: $horizontal;
    align-items: $vertical;
    flex-wrap: $wrap;
    flex-direction: $direction;
}

@mixin background ($bcSize, $repeat, $position) {
    background-size: $bcSize;
    background-repeat: $repeat;
    background-position: $position;
}
@mixin absolute ($top, $right, $left) {
    top: $top;
    right: $right;
    left: $left;
}
@mixin textStyle ($weight, $size, $height, $spacing, $transform, $color) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    letter-spacing: $spacing;
    text-transform: $transform;
    color: $color;
}
//classes
%textStyle {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: $bcColor;
    mix-blend-mode: normal;
    opacity: 0.25;
}
html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    padding: 3.2rem 1.7rem 4.5rem 1.7rem;
    background-image: url(../images/bg-main-mobile.png);
    @include background(100vw 29.042vh, no-repeat ,top);
    body {
        font-style: normal;
        font-family: 'Space Grotesk', sans-serif;
        display: flex;
        @include flexProperty(center, space-between, nowrap, column);
        width: 42.5rem;
    }
}
.card-container {
    max-width: 42.5rem;
    .back-card {
        height: 15.7rem;
        max-width: 28.6rem;
        background-image: url(../images/bg-card-back.png);
        @include background(cover,no-repeat ,center);
        margin-left: auto;
        text-align: right;
        #cvc {
            // margin: 7.364rem 3.702rem 0 auto;
            display: inline-block;
            margin-top: 7.164rem;
            margin-right: 3.702rem;
            @include textStyle(500, 0.9rem, 1.1rem, 0.128571rem, uppercase , $White)
        }
    }
    .front-card {
        height: 15.7rem;
        max-width: 28.6rem;
        background-image: url(../images/bg-card-front.png);
        @include background(cover,no-repeat ,center);
        margin-top: -6.756rem;
        padding: 1.76rem 2.089rem 2.06rem 1.9rem;
        img {
            width: 5.4rem;
            height: 3rem;
        }
        .number {
            margin: 3.7rem 0 1.7rem 0;
            width: fit-content;
            @include textStyle(500, 1.8rem, 2.3rem, 0.1rem, uppercase , $White)
        }
        div {
            @include textStyle(500, 0.9rem, 1.1rem, 0.128571rem, uppercase , $White);
            display: flex;
            @include flexProperty(space-between, center, nowrap, row );
            text-transform: uppercase;
        }
    }

}
.input-container {
    max-width: 42.5rem;
    margin-top: 2.84rem;
    #input-box {
        p {
            @include textStyle(500, 1.2rem, 1.5rem, 0.2rem, uppercase , $dark);
            margin: 2rem 0 0.9rem 0;
        }
        input {
            background: $White;
            border: 0.1rem solid #DFDEE0;
            border-radius: 0.8rem;
            padding: 1.1rem 1.6rem;
        }
        input:focus {
            outline: none;
        }
        input::placeholder {
             @include textStyle(500, 1.8rem, 2.3rem, unset, unset , $dark);
             mix-blend-mode: normal;
             opacity: 0.25;
        }
        #input-name, #input-number {
             width: 100%;
             height: 4.5rem;
        }
        .input-box {
            display: flex;
            .input-box-1 {
                display: inline-block;
                white-space: nowrap;
            }
            @include flexProperty(space-between, center, nowrap, unset);
            input {
                height: 4.5rem;
            }
            #input-month, #input-year {
                max-width: 7.2rem;
            }
            #input-cvc {
                max-width: 16.4rem;
            }
        }
        span {
            @include textStyle(500, 1.2rem, 1.5rem, unset, unset , $red);
            margin-top: 0.8rem;
            display: block;
            display: none;
        }
    }
    .confirmation {
        margin: 4.84rem auto 4.8rem auto;
        width: 100%;
        text-align: center;
        h2 {
            margin: 3.5rem 0 1.6rem 0;
            @include textStyle(500, 2.8rem, 3.6rem, unset, uppercase , $dark);
        }
        p {
            @include textStyle(500, 1.8rem, 2.3rem, unset, unset , #8F8694);
        }
        display: none;
    }
    button {
        width: 100%;
        height: 5.3rem;
        background: $dark;
        border-radius: 0.8rem;
        margin-top: 2.8rem;
        @include textStyle(500, 1.8rem, 2.3rem, unset, unset , $White);
    }
}

//responsive from 1440px
@media only screen and (min-width: 1440px) {
    html {
        padding: unset;
        background-image: url(../images/bg-main-desktop.png);
        @include background(33.5vw 200vh, no-repeat ,left);
        body {
            @include flexProperty(space-between, center, nowrap, row);
            width: 104.9rem;
            margin: 20.7vh 0 20.7vh 0;
            overflow: hidden;
        }
    }
    .card-container {
        max-width: unset;
        width: 54.1rem;
        height: 52.7rem;
        p {
            margin: 2.6rem 0 0.9rem 0;
        }
        .back-card {
            height: 24.5rem;
            max-width: 44.7rem;
            margin-top: 28.2rem;
            #cvc {
                margin-top: 11.45rem;
                margin-right: 5.7rem;
                @include textStyle(500, 1.4rem, 1.2rem, 0.2rem, uppercase , $White)
            }
        }
        .front-card {
            height: 24.5rem;
            max-width: 44.7rem;
            padding: 2.8rem 3.186rem 2.65rem 3.2rem;
            margin-top: -52.7rem;
            img {
                width: 8.4rem;
                height: 4.7rem;
            }
            .number {
                margin: 6.4rem 0 2.55rem 0;
                @include textStyle(500, 2.8rem, 3.6rem, 0.325222rem, uppercase , $White)
            }
            div {
                @include textStyle(500, 1.4rem, 1.8rem, 0.2rem, uppercase , $White);
                display: flex;
                @include flexProperty(space-between, center, nowrap, row )
            }
        }
    }
    .input-container {
        max-width: unset;
        width: 38.1rem;
        margin-top: unset;
        #input-box {
            .input-box {
                display: flex;
                #input-month, #input-year {
                    max-width: 8rem;
                }
                #input-cvc {
                    max-width: 19.1rem;
                }
            }
        }
        .confirmation {
            margin: 0 0 3.4rem 0;
        }
        button {
            width: 100%;
            height: 5.3rem;
            background: $dark;
            border-radius: 0.8rem;
            margin-top: 2.6rem;
        }
    }
}
